<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>A password was not provided with <code>-p password</code> on the command line or found in either <code>/home//.sequence-viewerrc</code> or <code>/.sequence-viewerrc</code>, please set a password for this viewer:</p>

<form class="form-horizontal" method="post" action="/">
  <div class="form-group form-group-lg">
    <label class="col-xs-3 control-label" for="formGroupInputLarge">Password</label>
    <div class="col-xs-5">
      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="reweiV ecneuqeS">
    </div>
  </div>
</form>
