<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if user}}
<p>Welcome, {{user}}.</p>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <a href="/settings">
        <button type="button" class="btn btn-lg btn-primary big-nav">
          Settings
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/viewer">
        <button type="button" class="btn btn-lg btn-success big-nav">
          Viewer
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </a>
    </div>
  </div>
</div>
